CREATE OR ALTER   PROCEDURE [dbo].[GET_DASHBOARD_ELEMENTS]
(@USER_ID NVARCHAR(900))
AS
	DECLARE @EXPENSES DECIMAL(18,2) = 0.00,
	@TOTAL_DUE DECIMAL(18,2) = 0.00,
	@PAYMENT_DATE DATE = '1999-09-09',
	@TO_RECEIVE DECIMAL(18,2) = 0.00

	SET @EXPENSES = (SELECT SUM(TOTALOFPERSON) 
						FROM BHUKKADS 
						WHERE USERID=@USER_ID AND PAID=1)
	SET @TOTAL_DUE = (SELECT SUM(TOTALOFPERSON) 
						FROM BHUKKADS 
						WHERE USERID=@USER_ID AND PAID=0)
	SET @PAYMENT_DATE = (SELECT TOP 1 DATE 
						FROM BillSummary BS
						INNER JOIN BHUKKADS BK ON BS.ID = BK.BILLSUMMARYID 
						WHERE USERID=@USER_ID  AND Paid=1
						ORDER BY DATE DESC)
	SET @TO_RECEIVE = (SELECT SUM(TotalOfPerson) 
						FROM BillSummary BS
						INNER JOIN BHUKKADS BK ON BS.ID = BK.BILLSUMMARYID 
						WHERE PayerUserId=@USER_ID AND PAID=0)

	SELECT @EXPENSES EXPENSES,
		@TOTAL_DUE TOTAL_DUE,
		@PAYMENT_DATE PAYMENT_DATE,
		@TO_RECEIVE TO_RECEIVE