@model BillRequiredComponents
@{
    ViewData["Title"] = "InsertCustomer";
}
<style>
    td {
        padding-right: 3px !important;
        padding-left: 3px !important;
    }
</style>
<link href="~/css/billcreate.css" rel="stylesheet" />
<div style="margin-top:5px;">
    <h4 style="text-align:center">Receipt Portal</h4>
    @*<div class="d-flex justify-content-end m-3">
        <div class="d-flex w-25">
            <div class="d-flex flex-column justify-content-center">
                <h6 class="align-middle">Date: &nbsp;</h6>
            </div>
            <div>
                <ejs-datepicker ejs-for="@Model.BillSummary.Date" value="@Model.BillSummary.Date" format="yyyy-MM-dd" placeholder="Enter date"></ejs-datepicker>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div style="margin:50px 0px 50px 0px;">
                    <div class="row" >
                        <div class="col-md-5 d-flex justify-content-between">
                            <label asp-for="BillSummary.PayerUserId" class="form-label"></label>
                            <select asp-for="BillSummary.PayerUserId" asp-items="Model.UserList" class="js-example-basic-single form-select p-2 w-75 paidByUser">
                                <option selected disabled>--Select User--</option>
                            </select>
                            <span asp-validation-for="BillSummary.PayerUserId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4"> </div>
                        <div class="d-flex col-md-3">
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="align-middle">Date: &nbsp;</h6>
                            </div>
                            <div>
                                <ejs-datepicker ejs-for="@Model.BillSummary.Date" value="@Model.BillSummary.Date" format="yyyy-MM-dd" placeholder="Enter date"></ejs-datepicker>
                            </div>
                        </div>

                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin:50px 0px 50px 0px;">
                    <table id="dyn" class="table">
                        <thead>
                            <tr>
                                <th style="width:20%">User</th>
                                <th style="width:20%">Product</th>
                                <th style="width:10%">QTY</th>
                                <th style="width:10%">Price</th>
                                <th style="width:10%">Discount/Addition</th>
                                <th style="width:10%">Total</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.BillSummary.BhukkadsList.Count; i++)
                            {
                                @for (int j = 0; j < Model.BillSummary.BhukkadsList[i].Products.Count; j++)
                                {
                                    <tr>
                                        <td>
                                            @*<input asp-for="BillSummary.BhukkadsList[i].UserId" class="form-control">
                                            <span asp-validation-for="BillSummary.BhukkadsList[i].UserId" class="text-danger"></span>*@
                                            <select asp-for="BillSummary.BhukkadsList[i].UserId" asp-items="Model.UserList" class="form-select p-2 w-100 userList">
                                                <option selected disabled>--Select User--</option>
                                            </select>
                                            <span asp-validation-for="BillSummary.BhukkadsList[i].UserId" class="text-danger"></span>
                                        </td>
                                        <td>
                                            @*<ejs-combobox ejs-for="BillSummary.BhukkadsList[i].UserId" dataSource="Model.UserList" placeholder="Select User" popupHeight="220px" class="form-select">
                                            </ejs-combobox>*@
                                            @*<input asp-for="BillSummary.BhukkadsList[i].Products[0].ProductId" class="productId" hidden>
                                            <ejs-combobox ejs-for="BillSummary.BhukkadsList[i].Products[0].ProductName" cssClass="productList" datasource="Model.ProductList" placeholder="Select Product" popupheight="220px">
                                            <e-combobox-fields value="Value" text="Text"></e-combobox-fields>
                                            </ejs-combobox>*@
                                            <select asp-for="BillSummary.BhukkadsList[i].Products[j].ProductId" asp-items="Model.ProductList" class="productList js-example-basic-single form-select p-2 w-100">
                                                <option selected disabled>--Select Product--</option>
                                            </select>
                                            <span asp-validation-for="BillSummary.BhukkadsList[i].Products[j].ProductId" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <input asp-for="BillSummary.BhukkadsList[i].Products[j].Qty" class="form-control p-2 productQty">
                                            <span asp-validation-for="BillSummary.BhukkadsList[i].Products[0].Qty" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <input asp-for="BillSummary.BhukkadsList[i].Products[j].Price" class="form-control p-2 productPrice">
                                            <span asp-validation-for="BillSummary.BhukkadsList[i].Products[j].Price" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <input asp-for="BillSummary.BhukkadsList[i].Products[j].Discount" class="form-control p-2 productDiscount">
                                            <span asp-validation-for="BillSummary.BhukkadsList[i].Products[j].Discount" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <input asp-for="BillSummary.BhukkadsList[i].Products[j].Total" class="form-control p-2 totalPricePerProduct">
                                            <span asp-validation-for="BillSummary.BhukkadsList[i].Products[j].Total" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <button type="button" id="addJ_@(i)_@(j)" onclick="AddProduct(this)" class="btn p-2" style="background-color:#042D2D; color:white;"><i class="bi bi-bag-plus-fill h3 text-light"></i></button>
                                        </td>
                                        <td>
                                            <button type="button" id="addI_@(i)_@(j)" onclick="AddUser(this)" class="btn" style="background-color:#042D2D; color:white;">Add User</button>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
                <input type="hidden" id="flag" value="0" />
                <input type="hidden" id="flagJ" value="0" />
                <h5>Total : <span id="TotalOfAll">0.00</span></h5>
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Create" class="btn" style="background-color:#042D2D; color:white;" />
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/bills/create.js"></script>
}