@model Product
<form asp-controller="Product" asp-action="Edit" class="mb-3">
    <div>
        <input asp-for="Id" type="text" class="form-control" hidden/>
    </div>
    <div>
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Rate" class="form-label"></label>
        <input asp-for="Rate" type="number" class="form-control" />
        <span asp-validation-for="Rate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="QuantityType" class="form-label"></label>
        <input asp-for="QuantityType" type="text" class="form-control" value="full" />
        <span asp-validation-for="QuantityType" class="text-danger"></span>
    </div>
    <div class="d-flex">
        <input type="submit" value="Edit" />
    </div>
</form>
<a class="bg-primary text-light p-2 text-decoration-none mt-3" asp-controller="Product" asp-action="Index">Back To Index</a>
